body {
    background-color: #2c2c2c;
    margin: 0;
    font-family: Arial, sans-serif;
}
.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.calculator {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px gray;
}

#display {
    width: 100%;
    height: 50px;
    font-size: 22px;
    text-align: right;
    margin-bottom: 15px;
    padding-right: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: black;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 10px;
}

button {
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.back-btn {
    margin-top: 40px;
}

.back-btn a {
    background-color: lightblue;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    color: darkblue;
}

.back-btn a:hover {
    background-color: deepskyblue;
}

.number {
    background-color: #444;
    color: white;
}

.operator {
    background-color: orange;
    color: white;
}

.clear {
    background-color: red;
    color: white;
}

.equal {
    background-color: green;
    color: white;
}

button:hover {
    opacity: 0.8;
}