body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #dbefff, #ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 50px 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

h2 {
    color: #4da6ff;
    margin-bottom: 25px;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #b3daff;
    border-radius: 6px;
    font-size: 14px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #4da6ff;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #3399ff;
}

.switch {
    margin-top: 15px;
    font-size: 14px;
}

.switch a {
    color: #4da6ff;
    text-decoration: none;
    font-weight: bold;
}