/* External CSS */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: navy;
    color: white;
    text-align: center;
    padding: 15px;
}
p {text-align: center;}
nav {
    text-align: center;
}
nav a {
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
    margin: 10px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
